{% if sidebar %}
  <div class="{% if products_per_row == "2" %}six columns {% cycle collection_group_thumb: 'alpha', 'omega' %}{% elsif products_per_row == "3" %}four columns {% cycle collection_group_thumb: 'alpha', '', 'omega' %}{% elsif products_per_row == "4" %}four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}{% else %}one-fifth-sidebar column {% cycle collection_group_thumb: 'alpha', '', '', '', 'omega' %}{% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}" >
{% else %}
  <div class="
    {% if products_per_row == "2" %}
      eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}
    {% elsif products_per_row == "3" %}
      one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}
    {% elsif products_per_row == "4" %}
      four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}
    {% elsif products_per_row == "5" %}
      one-fifth column {% cycle collection_group_thumb: 'alpha', '', '', '', 'omega' %}
    {% elsif products_per_row == "6" %}
      one-sixth column {% cycle collection_group_thumb: 'alpha', '', '', '', '', 'omega' %}
    {% else %}
      one-seventh column {% cycle collection_group_thumb: 'alpha', '', '', '', '', '', 'omega' %}
    {% endif %} thumbnail {% cycle collection_group_mobile: 'even', 'odd' %}"
  id="{{product.id}}">
{% endif %}


  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  {% if settings.align_height %}
    {% assign collection_height = settings.collection_height | plus: 0 %}
    {% assign product_aspect_ratio = product.featured_image.aspect_ratio | plus: 0 %}
    {% assign product_set_width = product_aspect_ratio | times: collection_height %}

    {% if product.featured_image.width >= product.featured_image.height %}
      {% assign align_height_value = 'width: 100%; height: auto;' %}
    {% else %}
      {% assign align_height_value = 'width: 100%;' %}
    {% endif %}

  {% endif %}

  <div class="product-wrap">
    <!-- removed swapping of images on hover: swap-{{ settings.collection_secondary_image }} -->
    <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
        <div style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- product.featured_image.width -}}px; {% endif %}">
            <div class="swiper product-swiper" id="main-product-{{product.id}}">
              <div class="swiper-wrapper">
              {% for media in product.media %}
                {% if media.alt == product.selected_or_first_available_variant.option1 %}
                  <div class="swiper-slide">
                    <a href="{{ product.url | within: collection }}">
                      <img  src="{{ media.preview_image.src | img_url: '400x' }}"
                          alt="{{ alt_text | escape }}"
                          style="{{ align_height_value }} max-width: {{- media.preview_image.width -}}px;"
                          data-sizes="auto"
                          data-src="{{ media.preview_image.src | img_url: '900x' }}"
                          data-srcset=" {{ media.preview_image.src | img_url: '300x' }} 300w,
                          {{ media.preview_image.src | img_url: '400x' }} 400w,
                          {{ media.preview_image.src | img_url: '500x' }} 500w,
                          {{ media.preview_image.src | img_url: '600x' }} 600w,
                          {{ media.preview_image.src | img_url: '700x' }} 700w,
                          {{ media.preview_image.src | img_url: '800x' }} 800w,
                          {{ media.preview_image.src | img_url: '900x' }} 900w"
                      />
                    </a>
                  </div>
                {% endif %}
              {% endfor %}
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
        </div>
      {% include "product-details" %}
      {% include 'product-sizes' %}
    </div>
    {% include "product-info" %}
  </div>


  <div class="popover-content">
    {% assign currentVariant = product.variants[0].option1 %}
    <!-- TODO: color swatch replacement -->
    {% assign variantColor = product.variants[0].option1 | replace: '/ ', ' ' | replace: '/', ' ' | replace: '  ', ' ' | replace: ' ', '-' | replace: "'", "" | upcase %}
    {% assign styleNumber = product.handle | upcase %}
    <img onerror="this.src = this.src.replace('.JPG','.jpg');" class="popover-swatch" src="https://cdn.shopify.com/s/files/1/1588/5229/files/{{styleNumber}}-{{variantColor}}.JPG?13917334030413983500" data-color="{{variantColor | replace:'-',' ' }}" data-handle="{{product.handle}}" data-product-id="{{product.id}}" />
    {% for image in product.images %}
      {% if image.alt == product.variants[0].option1 %}
        <img src="https://cdn.shopify.com/s/files/1/1588/5229/{{image}}" style="display:none"/>
      {% break %}
      {% endif %}
    {% endfor %}

      {% for variant in product.variants %}
        {% if variant.inventory_quantity > 0 and variant.featured_image %}
          {% if variant.option1 != currentVariant %}
            {% assign currentVariant = variant.option1 %}
            {% assign variantColor = variant.option1 | replace: '/ ', ' ' | replace: '/', ' ' | replace: '  ', ' ' | replace: ' ', '-' | replace: "'", "" | upcase %}
            {% assign styleNumber = product.handle | upcase %}
            <img onerror="this.src = this.src.replace('.JPG','.jpg');" class="popover-swatch" src="https://cdn.shopify.com/s/files/1/1588/5229/files/{{styleNumber}}-{{variantColor}}.JPG?13917334030413983500" data-color="{{ variant.option1 | replace:'-',' ' }}" data-handle="{{product.handle}}" data-product-id="{{product.id}}"  />
            {% for image in product.images %}
              {% if image.alt == variant.option1 %}
                <img src="https://cdn.shopify.com/s/files/1/1588/5229/{{image}}" style="display:none"/>
              {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}
  </div>
{% include 'collection-swatch' %}
</div>
