<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">

    <div class="go-cart-modal">

        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path
                    d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z">
                </path>
            </svg>

        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            Something went wrong, please contact us!
        </div>
        <!--end go cart modal content-->

    </div>

</div>
<!--end go cart modal fail-->

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">

    <div class="go-cart-modal">

        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path
                    d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z">
                </path>
            </svg>

        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content"></div>
        <!--end go cart modal content-->

        <!--go cart modal buttons-->
        <div class="go-cart-modal__buttons">

            <a class="go-cart__button js-go-cart-modal-close">
                Continue shopping
            </a>

            <a href="/cart/" class="go-cart__button">
                View cart
            </a>

        </div>
        <!--end go cart modal buttons-->

    </div>

</div>
<!--end go cart modal-->

<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer">

    <div class="go-cart-drawer">

        <!--go cart drawer close-->
        <div class="go-cart-drawer__header">
            <div class="go-cart-drawer__title">
                <span>Your Cart</span>
            </div>
            <div class="go-cart-drawer__close js-go-cart-drawer-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 1L1 19" stroke="black" />
                    <path d="M1 1L19 19" stroke="black" />
                </svg>
            </div>
        </div>
        <div class="go-cart-drawer__progress-bar">
            <span>{{section.settings.free_shipping_text}}</span>
            <span class="bar">
                <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.3373 2.23922C11.9623 1.38025 13.2432 1.38025 13.8682 2.23922C14.3483 2.89899 15.2577 3.07736 15.9536 2.65143C16.8578 2.09805 18.0433 2.58506 18.2905 3.61594C18.4805 4.40847 19.2538 4.92049 20.0587 4.79251C21.1042 4.62627 22.0149 5.52875 21.8474 6.57403C21.7185 7.3781 22.2356 8.14651 23.0278 8.33492C24.0578 8.57987 24.5526 9.76231 23.9966 10.6633C23.569 11.3564 23.7496 12.2623 24.41 12.7389C25.2697 13.3595 25.2697 14.6405 24.41 15.2611C23.7496 15.7377 23.569 16.6436 23.9966 17.3367C24.5526 18.2377 24.0578 19.4201 23.0278 19.6651C22.2356 19.8535 21.7185 20.6219 21.8474 21.426C22.0149 22.4712 21.1042 23.3737 20.0587 23.2075C19.2538 23.0795 18.4805 23.5915 18.2905 24.3841C18.0433 25.4149 16.8578 25.902 15.9536 25.3486C15.2577 24.9226 14.3483 25.101 13.8682 25.7608C13.2432 26.6197 11.9623 26.6197 11.3373 25.7608C10.8573 25.101 9.94785 24.9226 9.25192 25.3486C8.34774 25.902 7.16221 25.4149 6.91506 24.3841C6.72506 23.5915 5.95176 23.0795 5.14688 23.2075C4.10139 23.3737 3.1906 22.4712 3.35815 21.426C3.48704 20.6219 2.96996 19.8535 2.17772 19.6651C1.14772 19.4201 0.652994 18.2377 1.2089 17.3367C1.6365 16.6436 1.45592 15.7377 0.79559 15.2611C-0.0641918 14.6405 -0.0641919 13.3595 0.79559 12.7389C1.45592 12.2623 1.6365 11.3564 1.2089 10.6633C0.652994 9.76231 1.14772 8.57987 2.17772 8.33492C2.96996 8.14651 3.48704 7.3781 3.35815 6.57403C3.1906 5.52875 4.10139 4.62627 5.14688 4.79251C5.95176 4.92049 6.72506 4.40847 6.91506 3.61594C7.16221 2.58506 8.34774 2.09805 9.25192 2.65143C9.94785 3.07736 10.8573 2.89899 11.3373 2.23922Z"
                        fill="#F26470" />
                    <path
                        d="M12.9551 6.5L15.3253 11.1258L20.4749 11.9415L16.7902 15.6161L17.6026 20.746L12.9551 18.3913L8.30762 20.746L9.12001 15.6161L5.43532 11.9415L10.5849 11.1258L12.9551 6.5Z"
                        fill="white" />
                </svg>
                <small>Free Shipping</small>
            </span>

        </div>
        <!--end go cart drawer close-->

        <!--go cart drawer content-->
        <div class="go-cart-drawer__content js-go-cart-drawer-content"></div>
        <!--end go cart drawer content-->
        <div class="go-cart-drawer__upsell">
            <h4>{{section.settings.upsell_title}}</h4>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <div class="swiper-slide-product">
                                <div class="swiper-slide-image">
                                    <img src="{{block.settings.product.images[0].src | img_url }}" width="51" height="75" alt="Test"
                                        loading="lazy">
                                </div>
                                <div class="swiper-slide-info">
                                    <h5><a href="/products/{{block.settings.product.handle}}">{{block.settings.product.title}}</a></h5>
                                    <span class="color">
                                        {{block.settings.product.selected_or_first_available_variant.option1}}
                                    </span>
                                    <span class="price">
                                        {{block.settings.product.compare_at_price | money }}
                                        <s>{{block.settings.product.price | money}}</s>
                                    </span>
                                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-{{ block.settings.product.handle }}-{{ collection.handle }}-{{ section.id }}">
                                        <input type="hidden" name="id" value="{{block.settings.product.selected_or_first_available_variant.id}}">
                                        <input type="hidden" name="selected-variant" id="selected-variant" value="{{block.settings.product.selected_or_first_available_variant.option1}}"/>
                                        <button type="submit" name="add" data-add-to-cart class="js-go-cart-add-to-cart">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- If we need navigation buttons -->
                <!-- <div class="swiper-button-prev-custom">
                    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L0.999999 1" stroke="black" stroke-width="2" />
                    </svg>
                </div> -->
                
            </div>
            <div class="swiper-button-prev-custom">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L0.999999 1" stroke="black" stroke-width="2" />
                </svg>
            </div>
            <div class="swiper-button-next-custom">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L0.999999 1" stroke="black" stroke-width="2" />
                </svg>
            </div>
        </div>
        <!--go cart drawer subtotal-->
        <div class="go-cart-drawer__subtotal">
            <p>Subtotal <span class="total-items"></span> </p>
            <span class="go-cart-drawer__subtotal-price js-go-cart-drawer-subtotal"></span>
        </div>
        <!--end go cart drawer subtotal-->

        <!--go cart drawer buttons-->
        <div class="go-cart-drawer__footer js-go-cart-drawer-footer">
            <a href="/checkout/" class="go-cart__button">
                Checkout
            </a>
            <small class="taxes-text">{{section.settings.taxes_text}}</small>
        </div>

        <!--end go cart drawer buttons-->

    </div>

</div>
<!--end go cart drawer-->

<!--go cart overlay-->
<div class="go-cart__overlay js-go-cart-overlay">
</div>
<!--end go cart overlay-->

{% schema %}
    {
        "name": "Go Cart",
        "class": "go-cart",
        "settings": [
            {
                "type": "text",
                "id": "free_shipping_text",
                "label": "Free Shipping text",
                "default": "Free Standard Shipping!*"
            },
            {
                "type": "text",
                "id": "taxes_text",
                "label": "Taxes Text",
                "default": "*U.S. orders only, International shipping rates apply. Taxes will be calculated at checkout."
            },
            {
                "type": "text",
                "id": "upsell_title",
                "label": "Upsell Title",
                "default": "LEVEL UP YOUR WORKOUT"
            }
        ],
        "blocks": [
            {
                "type": "products",
                "name": "Products Upsell",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Select a Product"
                    }
                ]
            }
        ]
        
    }
{% endschema %}
