{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %}Mobile navigation{% endcomment %}

{% render 'go-cart-button' %}

<header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">
  {% if linklists[section.settings.promo_menu].links.size > 0 %}
  	<div class="promo_banner" style="background-color: {{section.settings.promo_banner_color}}; color: {{section.settings.promo_banner_text_color}}">
  	{% for link in linklists[section.settings.promo_menu].links %}
      	<div class="carousel-cell" style="width: 100%;">
          	<a href="{{ link.url }}">
       			{{ link.title }}
          	</a>
        </div>
    {% endfor %}
  	</div>
    <a href="{{section.settings.promo_text_url}}">
      <div class="promo_banner" style="background-color: {{section.settings.promo_banner_color}}; color: {{section.settings.promo_banner_text_color}}">
        <div class="carousel-cell" style="width: 100%;">
        {{ section.settings.promo_text }}
        </div>
        <div class="carousel-cell" style="width: 100%;">
        {{ section.settings.promo_text }}
        </div>
        <div class="carousel-cell" style="width: 100%;">
        {{ section.settings.promo_text }}
        </div>
      </div>
    </a>
  {% endif %}
  <div class="top_bar clearfix">
    <a href="#menu" class="mobile_nav dropdown_link" data-dropdown-rel="menu">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="menu_title">{{ 'layout.general.menu' | t }}</span>
    </a>
    <h1>
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
        {% if section.settings.logo_mobile != nil %}
          <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
        {% elsif section.settings.logo != nil %}
          <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
    </h1>
    {% if section.settings.search_enabled %}
      <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
    {% endif %}
    {% if section.settings.show_cart %}
      <div class="cart_container">
        {% comment %} <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant style="color: #333;"> <span class="cart_count">{{ cart.item_count }}</span></a> {% endcomment %}
      </div>
    {% endif %}
  </div>
  {% if section.settings.search_enabled %}
    <div class="dropdown_container center" data-dropdown="search">
      <div class="dropdown">
        <form action="/search" class="header_search_form">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <span class="icon-search search-submit"></span>
          <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
        </form>
      </div>
    </div>
  {% endif %}
  <div class="dropdown_container" data-dropdown="menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% include 'mobile-menu' with section.settings.main_linklist %}
        {% include 'mobile-menu' with section.settings.main_linklist2 %}
        {% include 'mobile-menu' with section.settings.top_bar_menu %}
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="/account" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li data-no-instant>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
          {% endif %}
        {% endif %}
        {% if settings.show_multiple_currencies %}
          <li>
            {% include 'currencies-switcher' %}
          </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</header>

{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% comment %}Main navigation{% endcomment %}

{% assign promo_blocks = section.blocks | where: "type", "promo_item" %}
{% if promo_blocks.size > 0 %}

  <div class="promo_banner" style="background-color: {{section.settings.promo_banner_color}}; color: {{section.settings.promo_banner_text_color}}">
  {% for block in promo_blocks %}
    <div class="carousel-cell" style="width: 100%;">
      <a href="{{ block.settings.promo_url }}">
        {{ block.settings.promo_text }}
      </a>
      <a href="{{ section.settings.promo_details_url }}" style="margin-left: 10px;font-weight: 500;">{{ section.settings.promo_details_text }}</a>
    </div>
  {% endfor %}
  </div>

  <script>
    $( document ).ready(function() {
      setTimeout(() => $(".promo_banner").flickity({
        autoPlay: {{ section.settings.promo_speed }},
        cellAlign: 'center',
        draggable: false,
        adaptiveHeight: true,
        wrapAround: true,
        contain: true,
        prevNextButtons: false,
        pageDots: false
      }), 500);
    });
  </script>

{% endif %}

<header class="{% if feature_image %}feature_image{% endif %} {% if section.settings.logo_home != nil %}secondary_logo--true{% endif %} desktop-nav">
  <div class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    <!-- {% if section.settings.promo_text != blank %}
      <div class="promo_banner">
        {{ section.settings.promo_text }}
        <div class="promo_banner-close"></div>
      </div>
    {% endif %} -->
    <div class="top_bar clearfix">
      {% if section.settings.social_icons_header %}
        {% include 'social-icons' %}
      {% endif %}
      <ul class="menu left">
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}
        {% if section.settings.top_bar_menu != blank %}
          {% for link in linklists[section.settings.top_bar_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
      {% if section.settings.show_cart %}
        <div class="cart_container">
          {% comment %} <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant style="height: 55px !important;">
            <span class="cart_count">{{ cart.item_count }}</span>
          </a> {% endcomment %}
          <div class="cart_content animated fadeIn" style="top: 44px; border-right: 1px solid #cccccc; {% if cart.item_count > 3%} padding-bottom: 50px; {% endif %}">
            <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
              <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
            </div>
            <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
              <a class="cart_content__continue-shopping secondary_button">
                {{ 'cart.general.continue_shopping_link_html' | t }}
              </a>
              <a href="/cart">Go To Cart</a>
              <ul class="cart_items js-cart_items clearfix">
                {% assign total_saving = 0 %}
                {% for item in cart.items %}
                  {% if item.variant.compare_at_price > item.variant.price %}
                    {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                    {% assign total_saving = saving | plus: total_saving %}
                  {% endif %}

                  <li class="cart_item clearfix">
                    <a {% unless item.product.handle contains 'gwp' %}href="{{ item.url }}" {% endunless %}>
                      {% for image in item.product.images %}
                        {% assign variantOption = item.variant.option1 | upcase %}
                        {% assign imageAlt = image.alt | upcase %}

                        {% if imageAlt == variantOption %}
                          <div class="cart_image testing">
                            <img src="{{ image | img_url: '320x' }}" alt="{{ image.title | escape }}" />
                          </div>
                        {% break %}
                        {% endif %}
                      {% endfor %}

<!--                       {% if item.image %}
                        <div class="cart_image">
                          <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                        </div>
                      {% endif %} -->

                      <strong class="right price">
                        {% if item.price < item.variant.compare_at_price %}
                          <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                        {% endif %}

                        <span class="money">{{ item.price | money }}</span>
                      </strong>
                      <div class="item_title">
                        {{ item.product.title }}
                        {% unless item.variant.title contains "Title" %}
                          -
                          {% for option in item.product.options %}
                            {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                          {% endfor %}
                        {% endunless %}
                        {% if item.properties %}
                          {% for p in item.properties %}
                            {% if p.last != blank %}
                              <div class="line-item">
                                {{ p.first }}: {{ p.last }}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </a>
                    {% unless item.product.handle contains 'gwp' %}
                    <div class="left product-quantity-box">
                      <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                      <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                      <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                    </div>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul>
              <hr />
              <ul>
                <li class="cart_subtotal js-cart_subtotal">
                  <span class="right">
                    <span class="money">{{ cart.total_price | money }}</span>
                  </span>
                  <span>{{ 'layout.general.subtotal' | t }}</span>
                </li>
                {% if settings.display_savings %}
                  <li class="cart_savings sale js-cart_savings">
                    {% if total_saving > 0 %}
                      <span class="right">
                        <span class="money">{{ total_saving | money }}</span>
                      </span>
                      <span>{{ 'layout.general.savings' | t }}</span>
                    {% endif %}
                  </li>
                {% endif %}
                <li>
                  {% if settings.display_special_instructions and settings.go_to_checkout %}
                    <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                    <p class="tos">
                      <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                        <label class="tos_label">
                          {{ 'cart.general.agree_to_terms_html' | t }}
                        </label>
                        {% if settings.tos_page != blank %}
                          <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                        {% endif %}
                    </p>
                  {% endif %}

                  {% if settings.cart_message != blank %}
                    <div class="cart_text">
                      {{ settings.cart_message }}
                    </div>
                  {% endif %}

                  <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                </li>
              </ul>
            </form>
          </div>
        </div>
      {% endif %}

      <ul class="menu right">
        {% if settings.show_multiple_currencies %}
          <li>
            {% include 'currencies-switcher' %}
          </li>
        {% endif %}
        {% if shop.customer_accounts_enabled %}
          <li>
            <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
          </li>
        {% endif %}
      </ul>
    </div>

    <!-- rearranged -->
    {% capture menu_right %}
      {% if vertical_menu %}
        {% include 'vertical-menu' with section.settings.main_linklist2 %}
      {% else %}
        {% include 'menu' with section.settings.main_linklist2 %}
      {% endif %}
      {% if section.settings.search_enabled %}
        <li class="search_container" style="float: none;height: 60px;">
          <form action="/search" class="search_form">
            {% if settings.search_option != 'everything' %}
              <input type="hidden" name="type" value="product" />
            {% endif %}

            <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
          </form>
          <span class="icon-search search-submit"></span>
        </li>
        <li class="search_link">
          <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
        </li>
      {% endif %}

    {% endcapture %}

    {% capture logo %}
      <div class="logo text-align--{{ section.settings.logo_alignment }}" style="margin: 0; width: 30%;">
        <h1>
          <a href="{{ shop.url }}" title="{{ shop.name }}">
            {% if section.settings.logo_home != nil %}
              <img src="{{ section.settings.logo_home | img_url: '410x' }}" class="secondary_logo" alt="{{ shop.name | escape }}" />
            {% endif %}
            {% if section.settings.logo != nil %}
              <img src="{{ section.settings.logo | img_url: '410x' }}" class="primary_logo" alt="{{ shop.name | escape }}" />
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
        </h1>
      </div>
    {% endcapture %}

    <div class="nav main_nav" style="width: 100%; padding-top: 10px;">
      <ul class="menu align_left clearfix" style="float: left; padding: 0; text-align: left;width: 35%; margin: 0;padding-right: 30px;">
        <p class="nav-free-shipping">
          Free Standard Shipping!
        </p>
      </ul>
      {{ logo }}
      <ul class="menu align_right clearfix" style="float: right; padding: 0; text-align: right; width: 35%;margin: 0;padding-right: 30px;">
        {{ menu_right }}

        {% if shop.customer_accounts_enabled %}
          <li>
            <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
          </li>
        {% endif %}

        <!-- <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link inMainNav" data-no-instant style="background: white; color: black;">
          <span class="cart_count" style="color: #333;">{{ cart.item_count }}</span>
        </a> -->
        <li>


        <div class="cart_container inMainNav">
          {% comment %} <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant style="background-color: transparent; color: #333;height: 100%; margin-left: 0">
            <span class="cart_count" style="color: #333;">{{ cart.item_count }}</span>
          </a> {% endcomment %}
          <div class="cart_content animated fadeIn hideOnMobile767" style="border-right: 1px solid #ccc; top: 47px; right: -25px;">
            <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
              <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
            </div>
            <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
              <a class="cart_content__continue-shopping secondary_button">
                {{ 'cart.general.continue_shopping_link_html' | t }}
              </a>
              <a href="/cart">Go To Cart</a>
              <ul class="cart_items js-cart_items clearfix">
                {% assign total_saving = 0 %}
                {% for item in cart.items %}
                  {% if item.variant.compare_at_price > item.variant.price %}
                    {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                    {% assign total_saving = saving | plus: total_saving %}
                  {% endif %}

                  <li class="cart_item clearfix">
                    <a {% unless item.product.handle contains 'gwp' %}href="{{ item.url }}" {% endunless %}>
                      {% for image in item.product.images %}
                        {% assign variantOption = item.variant.option1 | upcase %}
                        {% assign imageAlt = image.alt | upcase %}
                        <script>console.log('variantOption', {{variantOption | json}})</script>
                        <script>console.log('imageAlt', {{imageAlt | json}})</script>
                        <script>console.log('image', {{image | json}})</script>
                        {% if imageAlt == variantOption %}
                          <div class="cart_image testing">
                            <img src="{{ image | img_url: '320x' }}" alt="{{ image.title | escape }}" />
                          </div>
                        {% break %}
                        {% endif %}
                      {% endfor %}

<!--                       {% if item.image %}
                        <div class="cart_image">
                          <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                        </div>
                      {% endif %} -->

                      <strong class="right price">
                        {% if item.price < item.variant.compare_at_price %}
                          <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                        {% endif %}

                        <span class="money">{{ item.price | money }}</span>
                      </strong>
                      <div class="item_title">
                        {{ item.product.title }}
                        {% unless item.variant.title contains "Title" %}
                          -
                          {% for option in item.product.options %}
                            {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                          {% endfor %}
                        {% endunless %}
                        {% if item.properties %}
                          {% for p in item.properties %}
                            {% if p.last != blank %}
                              <div class="line-item">
                                {{ p.first }}: {{ p.last }}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </a>
                    {% unless item.product.handle contains 'gwp' %}
                      <div class="left product-quantity-box">
                        <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                        <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                        <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                      </div>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul>
              <hr />
              <ul class="cart_bottom">
                <li class="cart_subtotal js-cart_subtotal">
                  <span class="right">
                    <span class="money">{{ cart.total_price | money }}</span>
                  </span>
                  <span>{{ 'layout.general.subtotal' | t }}</span>
                </li>
                {% if settings.display_savings %}
                  <li class="cart_savings sale js-cart_savings">
                    {% if total_saving > 0 %}
                      <span class="right">
                        <span class="money">{{ total_saving | money }}</span>
                      </span>
                      <span>{{ 'layout.general.savings' | t }}</span>
                    {% endif %}
                  </li>
                {% endif %}
                <li class="cart_checkout_bottom">
                  {% if settings.display_special_instructions and settings.go_to_checkout %}
                    <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                    <p class="tos">
                      <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                        <label class="tos_label">
                          {{ 'cart.general.agree_to_terms_html' | t }}
                        </label>
                        {% if settings.tos_page != blank %}
                          <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                        {% endif %}
                    </p>
                  {% endif %}

                  {% if settings.cart_message != blank %}
                    <div class="cart_text">
                      {{ settings.cart_message }}
                    </div>
                  {% endif %}

                  <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                </li>
              </ul>
            </form>
          </div>
        </div>
      </li>

      </ul>

    </div>
    <!-- rearranged nav end -->

    <div class="main_nav_wrapper">
      <div class="main_nav clearfix menu-position--{{ section.settings.menu_position }} logo-align--{{ section.settings.logo_position }}">


        {% assign vertical_menu = section.settings.vertical_menu %}

        {% capture menu_left %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist %}
          {% endif %}
        {% endcapture %}

        {% capture menu_right %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist2 %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist2 %}
          {% endif %}
          {% if section.settings.search_enabled %}
            <li class="search_container" style="float: none;">
              <form action="/search" class="search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
              </form>
            </li>
            <li class="search_link">
              <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
            </li>
          {% endif %}
        {% endcapture %}


        {% if section.settings.logo_position == "left" or section.settings.menu_position == "block" %}

          <div class="nav">

            <!-- Rearrange top half of nav and add to sticky_nav 7/2/18 -->
            <div class="nav main_nav duplicate_main_nav" style="width: 100%; padding-top: 5px;">
              <ul class="menu align_left clearfix" style="float: left; padding: 0; text-align: left;width: 35%; margin: 0;padding-right: 30px;">
                <p class="nav-free-shipping">
                  Free Shipping On All Orders!
                </p>
              </ul>
              {{ logo }}
              <ul class="menu align_right clearfix" style="float: right;text-align: right;width: 19%; margin: 0;padding-right: 30px;position: relative;">
                {{ menu_right }}

                {% if shop.customer_accounts_enabled %}
                  <li>
                    <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
                  </li>
                {% endif %}
                <li class="cart-sticky">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M18.936 5.564c-.144-.175-.35-.207-.55-.207h-.003L6.774 4.286c-.272 0-.417.089-.491.18-.079.096-.16.263-.094.585l2.016 5.705c.163.407.642.673 1.068.673h8.401c.433 0 .854-.285.941-.725l.484-4.571c.045-.221-.015-.388-.163-.567z"></path>
                    <path d="M17.107 12.5H7.659L4.98 4.117l-.362-1.059c-.138-.401-.292-.559-.695-.559H.924c-.411 0-.748.303-.748.714s.337.714.748.714h2.413l3.002 9.48c.126.38.295.52.942.52h9.825c.411 0 .748-.303.748-.714s-.336-.714-.748-.714zm-6.683 3.73a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0zm6.429 0a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0z"></path>
                  </svg>
                </li>
                <!-- <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link inMainNav" data-no-instant style="background: white; color: black;">
                  <span class="cart_count" style="color: #333;">{{ cart.item_count }}</span>
                </a> -->
                <li>


                <div class="cart_container inMainNav">
                  <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant style="background-color: transparent; color: #333;height: 100%; margin-left: 0">
                    <span class="cart_count" style="color: #333;">{{ cart.item_count }}</span>
                  </a>
                  <div class="cart_content animated fadeIn hideOnMobile767" style="border-right: 1px solid #ccc; top: 47px; right: -25px;">
                    <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
                      <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
                    </div>
                    <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
                      <a class="cart_content__continue-shopping secondary_button">
                        {{ 'cart.general.continue_shopping_link_html' | t }}
                      </a>
                      <a href="/cart">Go To Cart</a>
                      <ul class="cart_items js-cart_items clearfix">
                        {% assign total_saving = 0 %}
                        {% for item in cart.items %}
                          {% if item.variant.compare_at_price > item.variant.price %}
                            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                            {% assign total_saving = saving | plus: total_saving %}
                          {% endif %}

                          <li class="cart_item clearfix">
                            <a {% unless item.handle contains 'gwp' %}href="{{ item.url }}" {% endunless %}>
                              {% for image in item.product.images %}
                                {% assign variantOption = item.variant.option1 | upcase %}
                                {% assign imageAlt = image.alt | upcase %}
                                <script>console.log('variantOption', {{variantOption | json}})</script>
                                <script>console.log('imageAlt', {{imageAlt | json}})</script>
                                <script>console.log('image', {{image | json}})</script>
                                {% if imageAlt == variantOption %}
                                  <div class="cart_image testing">
                                    <img src="{{ image | img_url: '320x' }}" alt="{{ image.title | escape }}" />
                                  </div>
                                {% break %}
                                {% endif %}
                              {% endfor %}

        <!--                       {% if item.image %}
                                <div class="cart_image">
                                  <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                                </div>
                              {% endif %} -->

                              <strong class="right price">
                                {% if item.price < item.variant.compare_at_price %}
                                  <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                                {% endif %}

                                <span class="money">{{ item.price | money }}</span>
                              </strong>
                              <div class="item_title">
                                {{ item.product.title }}
                                {% unless item.variant.title contains "Title" %}
                                  -
                                  {% for option in item.product.options %}
                                    {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                  {% endfor %}
                                {% endunless %}
                                {% if item.properties %}
                                  {% for p in item.properties %}
                                    {% if p.last != blank %}
                                      <div class="line-item">
                                        {{ p.first }}: {{ p.last }}
                                      </div>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </div>
                            </a>
                            {% unless item.product.handle contains 'gwp' %}
                              <div class="left product-quantity-box">
                                <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                                <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                                <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                              </div>
                            {% endunless %}
                          </li>
                        {% endfor %}
                      </ul>
                      <hr />
                      <ul class="cart_bottom">
                        <li class="cart_subtotal js-cart_subtotal">
                          <span class="right">
                            <span class="money">{{ cart.total_price | money }}</span>
                          </span>
                          <span>{{ 'layout.general.subtotal' | t }}</span>
                        </li>
                        {% if settings.display_savings %}
                          <li class="cart_savings sale js-cart_savings">
                            {% if total_saving > 0 %}
                              <span class="right">
                                <span class="money">{{ total_saving | money }}</span>
                              </span>
                              <span>{{ 'layout.general.savings' | t }}</span>
                            {% endif %}
                          </li>
                        {% endif %}
                        <li class="cart_checkout_bottom">
                          {% if settings.display_special_instructions and settings.go_to_checkout %}
                            <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                          {% endif %}

                          {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                            <p class="tos">
                              <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                                <label class="tos_label">
                                  {{ 'cart.general.agree_to_terms_html' | t }}
                                </label>
                                {% if settings.tos_page != blank %}
                                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                                {% endif %}
                            </p>
                          {% endif %}

                          {% if settings.cart_message != blank %}
                            <div class="cart_text">
                              {{ settings.cart_message }}
                            </div>
                          {% endif %}

                          <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                        </li>
                      </ul>
                    </form>
                  </div>
                </div>
              </li>

              </ul>

            </div>
            <!-- End new portion of nav -->

            <ul class="menu {{ section.settings.menu_alignment }} clearfix" style="padding-top: 0;">
              {{ menu_left }}
              {% comment %}
              {{ menu_right }}

              {% if shop.customer_accounts_enabled %}
                <li>
                  <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
                </li>
              {% endif %}

              <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link inMainNav" data-no-instant>
                <span class="cart_count">{{ cart.item_count }}</span>
              </a>
              {% endcomment %}

            </ul>

          </div>

          <!-- old nav placeholder -->



        {% else %}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
            </ul>
          </div>
          {{ logo }}
          <div class="nav">
            <ul class="menu {% if section.settings.menu_alignment == 'align_left' %}align_right{% elsif section.settings.menu_alignment == 'align_right' %}align_left{% else %}{{ section.settings.menu_alignment }}{% endif %} clearfix">
              {{ menu_right }}

              {% if shop.customer_accounts_enabled %}
                <li>
                  <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
                </li>
              {% endif %}

              <!-- <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link inMainNav" data-no-instant>
                <span class="cart_count">{{ cart.item_count }}</span>
              </a> -->



              <li>

                {% if section.settings.show_cart %}
        <div class="cart_container inMainNav">
          <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
            <span class="cart_count">{{ cart.item_count }}</span>
          </a>
          <div class="cart_content animated fadeIn" style="top: 60px !important;">
            <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
              <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
            </div>
            <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
              <a class="cart_content__continue-shopping secondary_button">
                {{ 'cart.general.continue_shopping_link_html' | t }}
              </a>
              <a href="/cart">Go To Cart</a>
              <ul class="cart_items js-cart_items clearfix">
                {% assign total_saving = 0 %}
                {% for item in cart.items %}
                  {% if item.variant.compare_at_price > item.variant.price %}
                    {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                    {% assign total_saving = saving | plus: total_saving %}
                  {% endif %}

                  <li class="cart_item clearfix">
                    <a {% unless item.product.handle contains 'gwp' %}href="{{ item.url }}" {% endunless %}>
                      {% for image in item.product.images %}
                        {% assign variantOption = item.variant.option1 | upcase %}
                        {% assign imageAlt = image.alt | upcase %}
                        <script>console.log('variantOption', {{variantOption | json}})</script>
                        <script>console.log('imageAlt', {{imageAlt | json}})</script>
                        <script>console.log('image', {{image | json}})</script>
                        {% if imageAlt == variantOption %}
                          <div class="cart_image testing">
                            <img src="{{ image | img_url: '320x' }}" alt="{{ image.title | escape }}" />
                          </div>
                        {% break %}
                        {% endif %}
                      {% endfor %}

<!--                       {% if item.image %}
                        <div class="cart_image">
                          <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                        </div>
                      {% endif %} -->

                      <strong class="right price">
                        {% if item.price < item.variant.compare_at_price %}
                          <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                        {% endif %}

                        <span class="money">{{ item.price | money }}</span>
                      </strong>
                      <div class="item_title">
                        {{ item.product.title }}
                        {% unless item.variant.title contains "Title" %}
                          -
                          {% for option in item.product.options %}
                            {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                          {% endfor %}
                        {% endunless %}
                        {% if item.properties %}
                          {% for p in item.properties %}
                            {% if p.last != blank %}
                              <div class="line-item">
                                {{ p.first }}: {{ p.last }}
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </a>
                    {% unless item.product.handle contains 'gwp' %}
                    <div class="left product-quantity-box">
                      <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                      <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                      <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                    </div>
                    {% endunless %}
                  </li>
                {% endfor %}
              </ul>
              <hr />
              <ul class="cart_bottom">
                <li class="cart_subtotal js-cart_subtotal">
                  <span class="right">
                    <span class="money">{{ cart.total_price | money }}</span>
                  </span>
                  <span>{{ 'layout.general.subtotal' | t }}</span>
                </li>
                {% if settings.display_savings %}
                  <li class="cart_savings sale js-cart_savings">
                    {% if total_saving > 0 %}
                      <span class="right">
                        <span class="money">{{ total_saving | money }}</span>
                      </span>
                      <span>{{ 'layout.general.savings' | t }}</span>
                    {% endif %}
                  </li>
                {% endif %}
                <li class="cart_checkout_bottom">
                  {% if settings.display_special_instructions and settings.go_to_checkout %}
                    <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                    <p class="tos">
                      <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                        <label class="tos_label">
                          {{ 'cart.general.agree_to_terms_html' | t }}
                        </label>
                        {% if settings.tos_page != blank %}
                          <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                        {% endif %}
                    </p>
                  {% endif %}

                  {% if settings.cart_message != blank %}
                    <div class="cart_text">
                      {{ settings.cart_message }}
                    </div>
                  {% endif %}

                  <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                </li>
              </ul>
            </form>
          </div>
        </div>
      {% endif %}

              </li>

            </ul>




          </div>
        {% endif %}
        {% if section.settings.search_enabled %}
          <div class="dropdown_container center" data-dropdown="search">
            <div class="dropdown">
              <form action="/search" class="header_search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
              </form>
            </div>
          </div>
        {% endif %}
        {% include 'sub-menu' with section.settings.main_linklist %}
        {% include 'sub-menu' with section.settings.main_linklist2 %}
      </div>
    </div>
  </div>
</header>

<style>

  div.logo img {
    max-width: {{ section.settings.logo_display_width }}px;
    max-width:195px !important;
  }

  .nav {
    {% if section.settings.menu_position == "block" %}
      width: 100%;
      clear: both;
    {% elsif section.settings.logo_position == "left" %}
      width: 84%;
      float: left;
    {% else %}
      width: 42%;
      float: left;
    {% endif %}
  }

  .sticky_nav .nav {
    height: 60px !important;
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: {{ section.settings.menu_top_padding }}px;
      /*padding-bottom: {{ section.settings.menu_top_padding }}px;*/
    }

    .sticky_nav ul.menu, .sticky_nav .mini_cart {
      padding-top: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
    }
  {% endif %}

  {% unless section.settings.show_cart %}
    #header .top_bar .icon-search {
      right: 15px;
    }
  {% endunless %}

  {% if section.settings.fixed_header == false %}
    @media only screen and (max-width: 768px) {
      .header-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  {% endif %}


  .menu a {
    text-transform: capitalize;
    font-weight: bold;
  }

  .menu a.active {
    text-transform: capitalize;
    font-weight: bold;
    color: #393838;
  }

  .menu a:active {
    text-transform: capitalize;
    font-weight: 700;
  }

  .menu a.active span {
    color: #393838;
  }

  .menu a span {
    margin-left: 3px;
  }

  .menu a.top_link:hover, .menu a.dropdown_link:hover, .menu a.active_link {
    border-bottom: none;
  }

  .menu .vertical-menu li {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main_nav .nav {
    width: 100%;
  }

  .nav ul.menu {
    text-align: center;

  }

  .mini-cart {
    background-color: transparent;
  }

  .cart-count {
    color: #333;
  }

  .cart-content {
    border-right: 1px solid #ccc;
    right: -40px;
  }

  @media only screen and (max-width: 1001px) {
    .menu .vertical-menu li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 801px) {
    .menu .vertical-menu li {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .icon-down-arrow {
    font-size: 10px !important;
  }

  .sticky_nav .vertical-menu {
    padding-top: 5px;
  }

  .mobile_logo img {
    margin-top: 15px !important;
  }

  @media screen and (max-width: 350px) {
    .menu_title {
      display: none !important;
    }

    .icon-search {
      display: none !important;
    }
  }

  @media screen and (max-width: 767px) {
    #pagecontent {
      padding-bottom: 0 !important;
    }
  }

  .desktop-nav .duplicate_main_nav {
    display: none;
  }

  .duplicate_main_nav .vertical-menu {
    display: none;
  }

  .sticky_nav .menu.align_left {
    background: transparent;
    margin-left: 0;
    margin-right: 0;
  }

  .sticky_nav .duplicate_main_nav li.search_link {
    float: none;
  }

  .sticky_nav .duplicate_main_nav li:nth-child(5) {
    float: right;
  }

  .sticky_nav--stick .menu.align_left {
    background: rgba(255,255,255,0.9);
  }

  .sticky_nav--stick div.logo.text-align--center {
    margin-top: 5px !important;
  }

  .nav-free-shipping {
    margin-top: 15px;
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    margin-left: 15px;
  }

  @media only screen and (max-width: 959px) and (min-width: 768px) {
    .menu li.search_container {
        width: 30% !important;
    }
  }

  @media screen and (max-width: 767px) {
    .mobile_nav-fixed--true .cart_container .icon-cart {
      margin-top: -5px !important;
    }
  }

  @media screen and (max-width: 480px) {
    .top_bar {
        padding-top: 1px;
    }
    .mobile_nav-fixed--true .cart_container .icon-cart {
      margin-top: -1px !important;
    }
  }

  .desktop-nav .search-submit {
    position: relative;
    top: -32px;
  }

  /* .desktop-nav .search_form {
    visibility: hidden;
  } */

  .search_container .search_form input {
    border-bottom: 1px solid #ccc;
  }

  .js-cart_content__form  {
    text-align: center;
  }

  .sticky_nav .duplicate_main_nav {
    display: none;
  }

  .sticky_nav.sticky_nav--stick .duplicate_main_nav {
    display: block;
  }
  
  .promo_banner a {
    color: {{ section.settings.promo_banner_text_color }};
  }
  @media all and (max-width: 500px){
    .promo_banner a {
      font-size: {{ section.settings.promo_banner_font_size_small_screen }}px;
    }
  }

</style>


{% javascript %}

{% endjavascript %}
<!-- $('.desktop-nav .search-submit').click(function(e) {
  if ($('.desktop-nav .search_form').css('visibility') == 'visible' && $(this).prev().find('#ispbxii_3').val()) {
    $('.desktop-nav .search_form').submit();
  } else {
    e.stopPropagation();
    $('.desktop-nav .search_form').css('visibility', 'visible')
  }

}) -->


{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "blocks": [
	{
		"name": "Promo Item",
        "type": "promo_item",
        "settings": [
          {
            "type": "textarea",
            "id": "promo_text",
            "label": "Promo Text"
          },
		  {
            "type": "url",
            "id": "promo_url",
            "label": "Promo URL"
          }
		]
	}
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    {
     "type": "header",
     "content": "Top bar"
    },
	{
      "type": "text",
      "id": "promo_details_text",
      "label": "Promo Details Text"
    },
	{
      "type": "url",
      "id": "promo_details_url",
      "label": "Promo Details URL"
    },
    {
      "type": "number",
      "id": "promo_speed",
      "label": "Promo slider speed (ms)",
      "default": 5000
    },
    {
      "type": "color",
      "id": "promo_banner_color",
      "label": "Announcement banner background color",
      "default": "#f2f2f2"
    },
    {
      "id": "promo_banner_text_color",
      "type": "color",
      "label": "Promo Banner Text Color",
      "default": "#020202"
    },
	{
      "id": "promo_banner_font_size_small_screen",
      "type": "range",
      "label": "Promo Banner Font Size Small Screen",
      "default": 8,
      "min": 6,
      "max": 16,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "range",
      "id": "logo_top_padding",
      "label": "Logo top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "menu_top_padding",
      "label": "Main menu top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 0,
      "unit": "px"
    }
  ]
}

{% endschema %}
