{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

<section id="banner-{{section.id}}" class="banner-desktop hideOnMobile767">
    <a href="{{section.settings.banner_link}}">
      <img  src="{{ section.settings.image | img_url: '100x'}}"
            alt="{{ section.settings.image.alt | escape }}"
            sizes="100vw"
            data-src="{{ section.settings.image | img_url: default}}"
            srcset="
            {{ section.settings.image | img_url: default}} {{default | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size1 }} {{size1 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size2 }} {{size2 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size3 }} {{size3 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size4 }} {{size4 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size5 }} {{size5 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size6 }} {{size6 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size7 }} {{size7 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size8 }} {{size8 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size9 }} {{size9 | replace: 'x', 'w'}},
            {{ section.settings.image | img_url: size10 }} {{size10 | replace: 'x', 'w'}}"

             />
    </a>

</section>
<section id="banner-{{section.id}}" class="banner-mobile showOnMobile767" style="display: none;">
  <a href="{{section.settings.banner_link}}">
    <img  src="{{ section.settings.mobile_image | img_url: '100x'}}"
      alt="{{ section.settings.mobile_image.alt | escape }}"
      class="lazyload {{ settings.image_loading_style }}"
      sizes="100vw"
      data-src="{{ section.settings.mobile_image | img_url: default }}"
      srcset="
      {{ section.settings.mobile_image | img_url: default }} {{default | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size1 }} {{size1 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size2 }} {{size2 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size3 }} {{size3 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size4 }} {{size4 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size5 }} {{size5 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size6 }} {{size6 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size7 }} {{size7 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size8 }} {{size8 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size9 }} {{size9 | replace: 'x', 'w'}},
      {{ section.settings.mobile_image | img_url: size10 }} {{size10 | replace: 'x', 'w'}}"

     />
  </a>
</section>

<style>
  .banner-desktop img, .banner-mobile img {
    width: 100%;
  }
  div.container {
    padding: 0;
  }
</style>

<script>
  if (window.location.pathname.indexOf('mysteryflash') > -1 && $(window).width() < 768) {
    $('.container').css('width', '100%');
  }

  $(window).on('resize', function() {
    if (window.location.pathname.indexOf('mysteryflash') > -1 && $(window).width() < 768) {
      $('.container').css('width', '100%');
    }
  })
</script>

{% schema %}

{
  "name": "LP mysteryflash_30lucky",
  "class": "landing-page-mysteryflash_30lucky",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "banner_link",
      "label": "Banner Link"
    }
  ],
  "presets": [
    {
      "name": "Landing Page mysteryflash_30lucky",
      "category": "Landing Pages"
    }
  ]
}

{% endschema %}
