{% comment %}
** Product - default view **
- Product template
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>
<div id= "hiddenProductId" style="display:none;" data-product-id="{{product.id}}"></div>

<div class="container main content">
  <div class="sixteen columns">
    {% if section.settings.product_breadcrumb_nav_arrows and collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="breadcrumb-divider">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
              {% endif %}
            </span>
            <span class="breadcrumb-divider">/</span>
            {{ product.title }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  <div class="product clearfix">
      <div class="sixteen columns">

    <div  class="product-{{ product.id }}"
          data-free-text="{{ settings.free_price_text }}"
          >
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" >

        <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="{% if sidebar %}five{% else %}seven{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}
          <script>console.log('variant!!!', {{variant | json}})</script>
          <input type="hidden" name="selected-variant" id="selected-variant" value="{{variant.option1}}"/>

          {% if product.available %}
<!--             {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
              <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
            {% endif %} -->
          {% endif %}
          {% if collection_handles contains 'new' %}
            <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
          {% endif %}
          {% if collection_handles contains 'pre-order' %}
            <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
          {% endif %}

           {% if section.settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}

          {% if variant.sku != blank and section.settings.display_sku %}
            <p class="sku">
              <span itemprop="sku">{{ variant.sku }}</span>
            </p>
          {% endif %}
          <h1 class="product_name" >{{ product.title }}</h1>
          {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
          <div class="feature_divider"></div>
          
 <div class="yotpo bottomLine"
             data-appkey="kDAq9aC5epAk3Ondxh0Ec2nA3q463CbswfxUtKrQ"
             data-domain="{{shop.permanent_domain | escape }}"
             data-product-id="{{ product.id }}"
             data-product-models="{{ product.id }}"
             data-name="{{ product.title | escape }}"
             data-url="{{ shop.url }}{{ product.url }}"
             data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
             data-description="{{ product.description | escape }}"
             data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
          {%- assign time_now = 'now' | date: '%s' %}
          {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
          {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
          {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.bottomline_update_time | date: '%s' %}
          {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
          {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
            {%- assign yotpo_bottomline_obsolete = false %}
          {%- else %}
            {%- assign yotpo_bottomline_obsolete = true %}
          {%- endif %}
          {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
            {{ product.metafields.yotpo.bottomline }}
          {%- endif %}
        </div>
          
          {% assign product_tags = product.tags | join: ' ' %}
          {% if product_tags contains 'meta-size-chart-' %}
            {% for tag in product.tags %}
              {% if tag contains 'meta-size-chart-' %}
                <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                {% include 'popup-size-chart', product_id: product.id %}
              {% endif %}
            {% endfor %}
          {% elsif settings.size_chart != blank %}
            <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}


          {% if collection_handles contains 'coming-soon' %}
            <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
          {% else %}
            <p class="modal_price">
              <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
              <meta itemprop="seller" content="{{ shop.name | escape }}" />
              <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
              <meta itemprop="itemCondition" content="New" />

              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
              <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price {% if product.available == false %}hidden{% endif %}">
                  {% if variant.price > 0 %}
                    <span class="money">{{ variant.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
              </span>
              <span class="was_price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                {% endif %}
              </span>
          	  <p class="promo-note">
                <script>console.log('promo note:',{{ product.metafields.promo_code.time_content.value }});</script>
                {% assign today_date = 'now' | date: '%s' %}
                {% assign promos = product.metafields.promo_code.time_content.value %}

                {% for promo in promos %}
                <script>console.log('promo:',{{ promo }});</script>

                  {% assign promo_start_date = promo.promo_start | date: '%s' %} 
                  {% assign promo_end_date = promo.promo_end | date: '%s' %} 
                <script>console.log('promo starts:', {{ promo_start_date }}, 'now is:', {{ today_date }} ); </script>
                  {% if promo_start_date < today_date and promo_end_date > today_date %}
                    {{ promo.promo_text }}
                  {% endif %}

                {% endfor %}
              </p>

<!--               {% if section.settings.display_savings %}
                <span class="sale savings">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                  {% endif %}
                </span>
              {% endif %} -->
            </p>

            {% include 'product-notify-me' %}
          {% endif %}
          <div class="klarna_desktop"></div>

          {% if product.tags contains 'final_sale' %}
          	<p style="color: #363636; margin: -10px 0 10px;">
              Final Sale: No Returns or Exchanges
            </p>
          {% endif %}

        {% comment %}
          {% if section.settings.product_description_position == "top" %}
            {% if product.description != blank %}
             <div class="description" itemprop="description">
               {{ product.description | split: '<!-- split -->' | first }}
             </div>
           {% endif %}
          {% endif %}
        {% endcomment %}

          {% unless collection_handles contains 'coming-soon' %}
            <div class="main_frm">
            {% include 'product-form' with 'product' %}
            </div>
          {% endunless %}
          <div class="mobile_ctas">
            <div class="mobile_ctas_left">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <div class=" product-{{ product.id }}-gallery {% if product.images.size > 1 %} multi-image {% endif %} {% if product.images.size <= 1 %} single-image {% endif %} " data-zoom="{{ section.settings.activate_zoom }}">
                <div class="image__container" style="max-width: 100%">
                  <img  src="{{ product.featured_image.src | img_url: '100x'  }}"
                        alt="{{ image_alt | escape }}"
                        class="image-zoom product-main-image"
                        data-index="{{ forloop.index0 }}"
                        data-image-id="{{ image_id }}" 
                        data-zoom="{{ product.featured_image.src | img_url: '100x', scale: 2}}"
                        />
                </div>
              </div>
            </div>
            <div class="mobile_ctas_right">
              <div class="mobile_p_meta">
                <h2>{{product.title}}</h2>
                <p class="modal_price">
                  <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                  <meta itemprop="seller" content="{{ shop.name | escape }}" />
                  <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                  <meta itemprop="itemCondition" content="New" />

                  <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                  <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                    <span class="current_price {% if product.available == false %}hidden{% endif %}">
                      {% if variant.price > 0 %}
                        <span class="money">{{ variant.price | money }}</span>
                      {% else %}
                        {{ settings.free_price_text }}
                      {% endif %}
                    </span>
                  </span>
                  <span class="was_price">
                    {% if variant.price < variant.compare_at_price and variant.available %}
                      <span class="money">{{ variant.compare_at_price | money }}</span>
                    {% endif %}
                  </span>
                  <p class="promo-note">
                    <script>console.log('promo note:',{{ product.metafields.promo_code.time_content.value }});</script>
                    {% assign today_date = 'now' | date: '%s' %}
                    {% assign promos = product.metafields.promo_code.time_content.value %}

                    {% for promo in promos %}
                    <script>console.log('promo:',{{ promo }});</script>

                      {% assign promo_start_date = promo.promo_start | date: '%s' %} 
                      {% assign promo_end_date = promo.promo_end | date: '%s' %} 
                    <script>console.log('promo starts:', {{ promo_start_date }}, 'now is:', {{ today_date }} ); </script>
                      {% if promo_start_date < today_date and promo_end_date > today_date %}
                        {{ promo.promo_text }}
                      {% endif %}

                    {% endfor %}
                  </p>
                </p>  
              </div>
              {% include 'product-form' with 'product' %}
            </div>
          </div>

          {% if section.settings.product_description_position == "bottom" %}
            {% if product.description != blank %}
             <div class="description bottom" itemprop="description">
              {{ product.description | split: '<!-- split -->' | first }}
             </div>
            {% endif %}
          {% endif %}

          {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          {% endif %}

          {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
            <div class="product_links">
              {% if section.settings.display_collections %}
                <p>
                  <span class="label">{{ 'products.product.collections' | t }}:</span>
                  <span>
                   {% for col in product.collections %}
                     <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                   {% endfor %}
                  </span>
                </p>
              {% endif %}

              {% if section.settings.display_type %}
                <p>
                  <span class="label">{{ 'products.product.product_types' | t }}:</span>
                  <span>{{ product.type | link_to_type }}</span>
                </p>
              {% endif %}

              {% if section.settings.display_tags %}
                <p>
                 {% for tag in product.tags %}
                   {% if forloop.first %}
                     <span class="label">{{ 'products.product.tags' | t }}:</span>
                   {% endif %}

                   {% unless tag contains 'meta-' %}
                     <span>
                       <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                       </span>
                   {% endunless %}
                 {% endfor %}
                </p>
              {% endif %}
            </div>
          {% endif %}

          <!-- <div class="viewSizeGuide">
            <a href="/pages/size-guide" target="_blank">View Size Guide</a>
          </div> -->

          <div class="productDescription">
            <h4>Details:</h4>
            {% comment %}
            <ul>
              {% for value in product.metafields.products %}
                <li>{{ value[1] }}</li>
              {% endfor %}
            </ul>
            {% endcomment %}
            <p>{{ product.description }}</p>
          </div>
          
          {% if product.metafields.products.prop65_chemical != blank %}
            <a class="prop65WarningLink" style="cursor: pointer;font-weight: bold;"><p>WARNING: See Prop 65 Notice</p></a>

            <div class="prop-65-popup modal modal-open">
              <div class="modal-content">
                <div class="myclosebox">
                  <a href="#" name="close-me-now" id="close-size-guide"><img src="https://cdn.shopify.com/s/files/1/1565/8379/files/d7ee2b63482a94bd2c769c513f1ada67.png?6827106314998524564"></a>
                </div>
                <h2><span><img src="https://cdn.shopify.com/s/files/1/1588/5229/files/warningsign.jpg?6224288822662370171" style="width: 35px;margin-right: 10px; margin-bottom: -7px;"/></span>PROP 65 WARNING</h2>
                <p style="font-weight: bold;">{{product.title}}</p>
                {% if product.metafields.products.prop65_chemical == 'NA' %}
                	<p><strong>WARNING</strong>: This product can expose you to chemicals which are known to the State of California to cause cancer. For more information go to www.P65Warnings.ca.gov.</p>
              	{% else %}
                	<p><strong>WARNING</strong>: This product can expose you to chemicals including {{ product.metafields.products.prop65_chemical -}}, which are known to the State of California to cause cancer. For more information go to www.P65Warnings.ca.gov.</p>
                {% endif %}
              </div>
            </div>
          {% endif %}

          <div class="meta">
            {% if section.settings.display_social_buttons %}
              {% include "social-buttons" with "product" %}
            {% endif %}
          </div>
        </div>
      </div>

      {% if product.description contains "<!-- split -->"  %}
        <br class="clear" />
        <div class="section clearfix">
          <div class="description">
            {{ product.description | split: '<!-- split -->' | last }}
          </div>
        </div>
      {% endif %}

      {% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}
        <div class="shopify-reviews">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      {% endif %}
    </div>

             <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>


          </div>
        </div>
      </div>

      <!-- start custom html code -->
      <div class="custom-content section-standard" data-section-id="{{ section.id }}" data-section-type="custom-content-section">
        <div class="contain-full-width">
          <div class="wrapper">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'html' %}
                  {% if block.settings.title != blank %}
                    <header>
                      <h4>{{ block.settings.title | escape }}</h4>
                    </header>
                  {% endif %}
                  <div class="custom-content-container">
                    <div id="block-{{ block.id }}" class="custom__item custom__item-{{ block.type }} {% if block.settings.full_width %}custom__item-full_width{% endif %}" {{ block.shopify_attributes }}>
                      <div class="content">
                        {% if block.settings.code != blank %}
                          {{ block.settings.code }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- end custom html code -->

      

      {% if section.settings.display_related_products %}
        {% include 'related-products' %}
      {% endif %}
      {% if section.settings.display_recently_viewed %}
        {% include 'recently-viewed' %}
      {% endif %}

<style>
  .prop-65-popup {
  	text-align: center;
  }
  
  .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}
.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 9999;
}
.modal-content {
  background-color: white;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
  width: 50vw;
  margin: 0 auto;
  overflow: auto;
  border-radius: 0;
}
  
    .yotpo-label, .promoted-products-box { 
    display: none!important;
  }
  
  .sr-only, .yotpo-stars{
  padding-right:10px!important;
  }
  
@media only screen and (min-width: 751px) {
  .prop-65-popup.modal:before {
      margin-right: 0;
  }
}
  
  @media only screen and (max-width: 750px) {
    .modal-content {
    	width: 100vw;
    }
}

</style>

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb_nav_arrows",
      "label": "Enable Breadcrumb Previous and Next Arrows"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "related_products_limit",
      "label": "Product limit",
      "default": "12",
    "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "15",
          "label": "15"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "48",
          "label": "48"
        }
      ]
    },
    {
      "type": "select",
      "id": "products_per",
      "label": "Products per row",
      "default": "3",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "rv_max_display",
      "label": "Products limit",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        }
      ]
    },
    {
      "type": "select",
      "id": "rv_per",
      "label": "Products per row",
      "default": "4",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "select",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "default": "3",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            }
          ]
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text_title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom HTML Title"
        }, {
          "type": "html",
          "id": "code",
          "label": "HTML"
        }
      ]
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
